@using JobBoard.Entities
@using JobBoard.ExtentionMethods

@{
    User loggedUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JobBoard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">JobBoard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Offers/Index">Jobs</a>
                        </li>
                        @if (loggedUser != null && loggedUser.Id == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Users/Index">Users</a>
                            </li>
                        }

                    </ul>
                </div>
                <div class="text-end">
                    @if (loggedUser == null)
                    {
                        <a class="btn btn-outline-primary" href="/Home/Login">Login</a>
                        <a class="btn btn-primary" href="/Home/Register">Register</a>
                    }
                    else
                    {
                        @*<span>Hello, @loggedUser.Username :)</span>*@
                        <a class="btn btn-primary ml-2" href="/Users/Edit?Id=@loggedUser.Id">Edit Profile</a>
                        <a class="btn btn-primary ml-2" href="/Home/Logout">Logout</a>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - JobBoard - all rights reserved
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
